<footer>
	<div class="footer-section">
		<h3>Socials</h3>
		<ul>
			<li><a rel="noreferrer" href="https://twitter.com/jipfr" target="_blank">Twitter</a></li>
			<li><a rel="noreferrer" href="https://github.com/jipfr" target="_blank">GitHub</a></li>
			<li><a rel="noreferrer" href="https://dribbble.com/jipfr" target="_blank">Dribbble</a></li>
			<li><a href="mailto:jip@frij.link" target="_blank">jip@frij.link</a></li>
		</ul>
	</div>
	<div class="footer-section">
		<h3>Pages</h3>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/posts">Posts</a></li>
			<li><a href="/projects">Projects</a></li>
		</ul>
	</div>
</footer>
