<header>
	<div class="content">
		<h2 class="title">Jip Frijlink</h2>
		<nav>
			<a href="#about">{{ locale.nav.about }}</a>
			<a href="#projects">{{ locale.nav.projects }}</a>
			<a href="#fun">{{ locale.nav.fun }}</a>
		</nav>
	</div>
</header>