<header class="{{#if showHero}}{{else}}noHero{{/if}}">
	<div class="content">
		<h2 class="title"><a href="/">Jip Frijlink</a></h2>
		<nav>
			<a href="/posts">{{ locale.posts.title }}</a>
			<a href="/projects">{{ locale.projects.title }}</a>
		</nav>
	</div>
</header>