<div class="hero">
	<div class="content">
		<div class="author">
			<img src="/assets/icon.png" class="authorImg" alt="Jip Frijlink">
			<div class="meta">
				<h1 class="title dot">Jip Frijlink</h1>
				<div class="socialWrapper">
					{{> util/socials}}
				</div>
			</div>
		</div>
	</div>
</div>