<!DOCTYPE html>
<html>
	<head>
		<title>{{#if title}}{{ title }} - {{/if}}Jip Frijlink</title>
		<!-- Apple stuff. -->
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="apple-mobile-web-app-capable" content="no">
		<meta name="mobile-web-app-capable" content="no">

		<!-- -->
		<link rel="apple-touch-icon" href="/assets/icon.png">
		<meta name="theme-color" content="#457461">
		<meta charset="utf-8">
				
		<!-- Basic stuff -->
		<link rel="stylesheet" href="/main.css">
		<link rel="icon" href="/assets/icon.png">
		<meta name="description" content="De enige echte persoonlijke website van Jip Frijlink">
		<meta name="keywords" content="Jip, Frijlink, Jip Frijlink, Jip Fr, Fr, Sekolah, BSL, Today for Makerlog, Today, mvlist">
		
		<!-- OpenGraph stuff -->
		<meta name="og:description" content="De enige echte persoonlijke website van Jip Frijlink">
		<meta name="og:title" content="Jip Frijlink">
		<meta name="og:image" content="/assets/icon.png">
		<!-- Viewport -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
		<!-- Twitter stuff -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@jipfr">
		<meta name="twitter:creator" content="@jipfr">
		<meta name="twitter:title" content="Jip Frijlink">
		<meta name="twitter:description" content="De enige echte persoonlijke website van Jip Frijlink">
		<meta name="twitter:image:src" content="https://jipfr.nl/icon.png">
	</head>
	<body>
		<div class="wrapper">
			<div class="content-wrapper">
				{{> header}}
				{{#if showHero}}{{> hero}}{{/if}}
				{{{ body }}}
			</div>
			{{> footer}}
		</div>
	</body>
</html>