

<div class="bodyWrapper content">
	<div class="section postsSection">
		<h2 class="title">
			<span class="mainTitle">{{ locale.not-found.not-found }}</span>
		</h2>
		<img class="gif" src="/assets/404.gif">
	</div>
</div>

<style>
	/* Putting this in a seperate file would be a waste of time */
	.gif {
		max-width: 100%;
		border: 1px solid var(--border);
		border-radius: 4px;
		box-sizing: border-box;
	}
</style>