<div class="bodyWrapper content">
	<div class="section postsSection">
		<h2 class="title">
			<span class="mainTitle">{{ locale.posts.title }}</span>
		</h2>
		<div class="posts">
			{{#each posts}}
			{{> post}}
			{{/each}}
		</div>
		
	</div>
</div>