@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
	--body: white;
	--text: #191919;
	--textSecondary: #686d71;
	--theme: #457461;
}

body {
	margin: 0;
	background: var(--body);
	color: var(--text);
	font-family: Poppins, Arial, Helvetica, sans-serif;
}

header {
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}
header .content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header nav a {
	text-decoration: none;
	color: var(--textSecondary);
}
header nav a + a {
	margin-left: 20px;
}
header nav a:hover {
	text-decoration: underline;
	color: var(--text);
}

.content {
	width: calc(100% - 90px);
	max-width: 1300px;
	margin: 0 auto;
}

header .title {
	margin: 0;
}

.hero {
	width: 100%;
	padding: 50px 0;
	/* background: var(--theme); */
	background-color: var(--theme);
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
	color: white;
	position: relative;
	overflow: hidden;
}
.hero:after, .hero:before {
	content: "";
	display: block;
}
.hero:after {
	height: 600px;
	width: 600px;
	border-radius: 50%;
	/* background: rgba(0, 0, 0, 0.1); */
	background: var(--theme);
	position: absolute;
	right: 250px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 4;
}
.hero:before {
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100% - 300px);
	height: 100%;
	background: var(--theme);
}


.hero .author {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: 30px;
	align-items: center;
	position: relative;
	z-index: 5;
}
.hero .authorImg {
	width: 120px;
	height: 120px;
	border: 5px solid var(--body);
	border-radius: 50%;
	display: block;
}
.hero .author .title {
	margin: 0;
}

.hero .socialWrapper {
	display: grid;
	grid-template-columns: 180px 180px;
	grid-gap: 10px;
}
.hero .social {
	text-decoration: none;
	color: inherit;
	opacity: 0.8;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: 10px;
	align-items: center;
}
.hero .social svg {
	display: block;
	width: 24px;
	height: 24px;
}
.hero .social:hover {
	opacity: 1;
}
.hero .social:hover span {
	text-decoration: underline;
}

@media screen and (max-width: 700px) {
	header nav {
		display: none;
	}
	.hero {
		padding: 40px 0;
		background: var(--theme);
	}
	.hero:after, .hero:before {
		display: none;
	}
	.hero .author {
		grid-template-columns: 100%;
	}
	.hero .authorImg {
		display: none;
	}
	.hero .meta {
		display: grid;
		grid-template-columns: 100%;
		grid-gap: 20px;
	}
	.hero .socialWrapper {
		display: grid;
	}
}