@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
	--body: white;
	--text: #191919;
	--textSecondary: #686d71;
	--border: rgba(0, 0, 0, 0.1);
	--theme: #457461;
	--themeDark: #3E6857;
	--footer: var(--border);
}

@media (prefers-color-scheme: dark) {
	body {
		--body: #191919;
		--text: white;
		--textSecondary: #b5b5b5;
		--border: #4c4c4c;
		--theme: #8080c0;
		--themeDark: #5d5d90;
		--border: rgba(255, 255, 255, 0.05);
	}
}

body {
	margin: 0;
	background: var(--body);
	color: var(--text);
	font-family: Poppins, Arial, Helvetica, sans-serif;
}

.wrapper {
	min-height: 100vh;
}
.wrapper {
	display: flex;
    justify-content: center;
    flex-direction: column;
    word-break: break-word;
}
.content-wrapper {
	flex: 1;
}

header {
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}
header.noHero {
	background: var(--theme);
	color: white;
}
header .content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header nav a {
	text-decoration: none;
	/* color: var(--textSecondary); */
	color: inherit;
	opacity: 0.8;
}
header nav a + a {
	margin-left: 20px;
}
header nav a:hover {
	text-decoration: underline;
	opacity: 1;
}

.content {
	width: calc(100% - 90px);
	max-width: 1300px;
	margin: 0 auto;
}
.subContent {
	width: 100%;
	max-width: 40rem;
	margin: 0 auto;
}

header .title {
	margin: 0;
}
header .title a {
	text-decoration: none;
	color: inherit;
}

.hero {
	width: 100%;
	padding: 50px 0;
	background-image: 
	  linear-gradient(to right, var(--theme) calc(100% - 500px), transparent calc(100% - 500px)), 
	  radial-gradient(circle at calc(100% - 400px), var(--theme) 200px, var(--themeDark) 200px);
	color: white;
	overflow-x: hidden;
}


.hero .author {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: 30px;
	align-items: center;
	position: relative;
	z-index: 5;
}
.hero .authorImg {
	width: 120px;
	height: 120px;
	border: 5px solid var(--body);
	border-radius: 50%;
	display: block;
}
.hero .author .title {
	margin: 0;
}

.hero .socialWrapper {
	display: grid;
	grid-template-columns: 180px 180px;
	grid-gap: 10px;
}
.hero .social {
	text-decoration: none;
	color: inherit;
	opacity: 0.8;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: 10px;
	align-items: center;
}
.hero .social svg {
	display: block;
	width: 24px;
	height: 24px;
}
.hero .social:hover {
	opacity: 1;
}
.hero .social:hover span {
	text-decoration: underline;
}

.bodyWrapper {
	margin-top: 40px;
	display: grid;
	grid-template-columns: 100%;
	grid-gap: 40px;
}

.section > .title {
	margin: 0;
	margin-bottom: 15px;
}
.section > .title.spread {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.section > .title .moreLink {
	font-size: 1rem;
	text-decoration: none;
	font-weight: 500;
	color: var(--textSecondary);
}

.section > .title .moreLink:hover {
	text-decoration: underline;
}
.posts {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	grid-gap: 20px;
}
.posts.igPosts {
	grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
}
.posts .instagramImage {
	width: 100%;
	object-fit: contain;
	padding-bottom: 100%;
	border-radius: 4px;
}
.posts.oneRow {
	grid-gap: 0 20px;
	grid-template-rows: auto;
	grid-auto-rows: 0;
	overflow: hidden;
}
.post .postTop {
	width: 100%;
	height: 150px;
	border-radius: 6px;
	box-sizing: border-box;
	border: 1px solid var(--border);
	display: flex;
	justify-content: center;
	align-items: center;
}
.post .postTop img {
	height: 75px;
	max-width: 75px;
	object-fit: contain;
	display: block;
}
.post .postTop img.fullImage {
	width: 100%;
	height: 100%;
	max-height: 100%;
	max-width: 100%;
	object-fit: cover;
}
.post .postContent {
	margin-top: 7px;
}
.post .postContent .postTitle {
	margin: 0;
}
.postLink {
	text-decoration: none;
	color: inherit;
}
.postLink:hover .postTitle {
	text-decoration: underline;
}
.post .postContent .postLink svg {
	width: 1.2em;
	height: 1.2em;
	margin-right: 8px;
	color: var(--theme);
}
.post .postContent .postPreview {
	margin: 0;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;  
	overflow: hidden;
	color: var(--textSecondary);
}

.postLink[href="/adolla"] .postTop img {
	/* Some nice post-specific hacks. */
	filter: saturate(0) brightness(1.5);
}



.instagramPost {
	color: inherit;
	text-decoration: none;
}


footer {
	box-sizing: border-box;
	margin-top: 100px;
	width: 100%;
	padding: 30px;
	padding-bottom: calc(30px + env(safe-area-inset-bottom));
	background: var(--footer);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}
.footer-section {
	width: 200px;
	margin-bottom: 50px;
}
.footer-section h3 {
	margin-top: 0;
}

footer ul {
	padding: 0;
	margin: 0;
	margin-top: 10px;
	list-style-type: none;
}
footer a {
	text-decoration: none;
	color: inherit;
}
footer a:hover {
	text-decoration: underline
}


@media screen and (max-width: 700px) {
	.content {
		width: calc(100% - 40px);
	}
	.hero {
		padding: 40px 0;
		background: var(--theme);
	}
	.hero .author {
		grid-template-columns: 100%;
	}
	.hero .authorImg {
		display: none;
		/* width: 80px;
		height: 80px;
		border-width: 3px; */
	}
	.hero .meta {
		display: grid;
		grid-template-columns: 100%;
		grid-gap: 20px;
	}
	.hero .socialWrapper {
		display: grid;
	}
	.posts {
		grid-template-columns: 100%;
	}
	.footer-section {
		width: 100%;
	}
}